os: linux
dist: xenial
language: go
service:
  - docker
sudo: required
env:
  global:
    - CGO_ENABLED=0
    - GOFLAGS='-a -x'
    - WORKSPACE='/project'
matrix:
  include:
    - go: 1.12.x
      env: GOOS=linux GOARCH=amd64 DIST_FAMILY=RHEL DIST=rhel7 BIN=ercole-agent-virtualization GO111MODULE=on
        PACKAGE_BUILD_IMAGE=sorintdev/rpmbuild-centos7
before_install:
  - sudo docker pull ${PACKAGE_BUILD_IMAGE}
  - if [ -z ${TRAVIS_TAG} ] || [[ ${TRAVIS_TAG} == *-* ]]; then export VERSION=latest;
    else export VERSION=${TRAVIS_TAG}; fi
  - echo ${TRAVIS_TAG}
  - echo ${VERSION}
install:
  - sudo docker run -d --rm -it -e WORKSPACE="${WORKSPACE}" -e TRAVIS_REPO_SLUG="${TRAVIS_REPO_SLUG}"
    -e TRAVIS_BUILD_NUMBER="${TRAVIS_BUILD_NUMBER}" -v $PWD:"${WORKSPACE}" --name package_builder
    ${PACKAGE_BUILD_IMAGE} /bin/cat
script:
  - go build -o ${BIN} main.go
  - sed -i "s|ERCOLE_VERSION|${VERSION}|g" package/rhel7/ercole-agent-virtualization.spec
  - if [ $DIST_FAMILY == "RHEL" ]; then docker exec -it package_builder /bin/sh -c "cd
    ${WORKSPACE} && rpmbuild --quiet -bl package/${DIST}/ercole-agent-virtualization.spec" || echo
    rpmbuild; fi
  - if [ $DIST_FAMILY == "RHEL" ]; then docker exec -it package_builder /bin/sh -c "mkdir
    ~/rpmbuild/SOURCES/ercole-agent-virtualization-${VERSION}"; fi
  - if [ $DIST_FAMILY == "RHEL" ]; then docker exec -it package_builder /bin/sh -c "cd
    ${WORKSPACE} && cp -r * ~/rpmbuild/SOURCES/ercole-agent-virtualization-${VERSION}/"; fi
  - if [ $DIST_FAMILY == "RHEL" ]; then docker exec -it package_builder /bin/sh -c "cd
    ${WORKSPACE} && tar -C ~/rpmbuild/SOURCES -cvzf ~/rpmbuild/SOURCES/ercole-agent-virtualization-${VERSION}.tar.gz
    ercole-agent-virtualization-${VERSION}"; fi
  - if [ $DIST_FAMILY == "RHEL" ]; then docker exec -it package_builder /bin/sh -c "cd
    ${WORKSPACE} && rpmbuild -bb package/${DIST}/ercole-agent-virtualization.spec"; fi
  - if [ $DIST_FAMILY == "RHEL" ]; then docker exec -it package_builder /bin/sh -c "find
    ~/rpmbuild/SOURCES/ercole-agent-virtualization-${VERSION}"; fi
  - mkdir dist
  - if [ $DIST_FAMILY == "RHEL" ]; then docker exec -it package_builder /bin/sh -c "cd
    ${WORKSPACE} && cp ~/rpmbuild/RPMS/x86_64/ercole-agent-virtualization-${VERSION}-1.el*.x86_64.rpm
    dist/"; fi
after_success:
  - ls
  - file ${BIN}
  - env
  - ls dist
deploy:
  provider: releases
  file_glob: true
  file: dist/*
  skip_cleanup: true
  api_key:
    secure: uXn+nWPFu1mEf5ixZtYPRcWZkoUxi4LP7YWHzLtutnelHGFW68fN0zbas7zP4YVm9sCmBHviQzEjfrHbBREZUYK627SNiN+0LIYXT2xyiRoWJGToLYnteu5D0bkTIe7t96Qtz4mg9ZzQELF+vrlAnY0iM6R+IwEfzKqK7Tm0lGKPjSnYrd8Xh2Gw0uycyMJYu69fL+itPWkL10eqtELi9LfmkY0Vw05h7hIMnpBCCbrWWZEqitbacCnRthwxpSqLfMdDSaB5JZGLCHnPCJFtujV62HEeA336cb7Ojr6RLBi7Zrl0zEhvp8arRg1N3T2HeonxfeA67O1yBCIMpiFTyIluhbsvsA+46CjC+0XeKb6sKbDw7I4HrTlPLV5SQ+W9p5VTlRhPfxdTgTvTBkLMGuGIQMCJ9012hcXu42+0az2lvd0ayVTL5QtkmxBBQSIqP9tqbCabmqgthsvv+jfx+XTU8HmlrkkW7tUR5pL8UqNB99cM0jTbbXY1cIkIGixmUK14xRgmnayf7Ma/+3izVmTJMbE5xZRusejHEdGUlzVPmeFRAwonyg5UkjDY1d35hd6MSsI+6zUUyfTZzGdhaG1q2cpXk/W0+1H8B0gMYYakhIQF7GgAoA9KDMbuS/4Xyx/I7DLKOuQ1tSPQHN5FqHsgzI4Mq0fQD0NbFPxdPas=
  on:
    tags: true

deploy:
  provider: releases
  file_glob: true
  file: dist/*
  skip_cleanup: true
  api_key:
    secure: uXn+nWPFu1mEf5ixZtYPRcWZkoUxi4LP7YWHzLtutnelHGFW68fN0zbas7zP4YVm9sCmBHviQzEjfrHbBREZUYK627SNiN+0LIYXT2xyiRoWJGToLYnteu5D0bkTIe7t96Qtz4mg9ZzQELF+vrlAnY0iM6R+IwEfzKqK7Tm0lGKPjSnYrd8Xh2Gw0uycyMJYu69fL+itPWkL10eqtELi9LfmkY0Vw05h7hIMnpBCCbrWWZEqitbacCnRthwxpSqLfMdDSaB5JZGLCHnPCJFtujV62HEeA336cb7Ojr6RLBi7Zrl0zEhvp8arRg1N3T2HeonxfeA67O1yBCIMpiFTyIluhbsvsA+46CjC+0XeKb6sKbDw7I4HrTlPLV5SQ+W9p5VTlRhPfxdTgTvTBkLMGuGIQMCJ9012hcXu42+0az2lvd0ayVTL5QtkmxBBQSIqP9tqbCabmqgthsvv+jfx+XTU8HmlrkkW7tUR5pL8UqNB99cM0jTbbXY1cIkIGixmUK14xRgmnayf7Ma/+3izVmTJMbE5xZRusejHEdGUlzVPmeFRAwonyg5UkjDY1d35hd6MSsI+6zUUyfTZzGdhaG1q2cpXk/W0+1H8B0gMYYakhIQF7GgAoA9KDMbuS/4Xyx/I7DLKOuQ1tSPQHN5FqHsgzI4Mq0fQD0NbFPxdPas=
  name: "latest"
  body: "latest"
  prerelease: true
  overwrite: true